header{
    width: 100%;
    background-color: black;
    color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    list-style: none;
    
    display: flex;
    align-items: center;

}
li{
    padding-right: 10px;
}