header{
    width: 100%;
    background-color: black;
    color: pink;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    /*position: fixed;*/
 }

header>p{
    padding-left: 50px;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 50px;
}
li>a{
    color: pink;
    text-decoration: none;
}
li{
    padding-right: 10px;
}
h2{
    text-align: center;
}
.Section-Jisoo{
    display:flex;
    flex-direction: column;
}